
#reviewers
{
    list-style: none;
    li
    {
        display: inline-block;
    }
}

#reviewers li img
{
    border-radius: 34px;
    border: 2px solid blue;
}

#reviewers li[data-status=pending] img
{
    border: 2px solid blue;
}

#reviewers li[data-status=rejected] img
{
    border: 2px solid red;
}

#reviewers li[data-status=pending] img
{
    border: 2px solid green;
}

