/* CSS file placeholder. */
body{
    background:#212121;
    color:white;
    font-size:24px;    
    font-family: 'calibri';
}

#App{
    text-align: center;   
    .btn{
        background-color:#D3145A;
        display: inline-block;
        color:white;
        border-width: 5px;
        border-color:white;
        border-radius: 15px;        
        border-style: solid;
        padding:20px;
         
        cursor: pointer;
    }
   
    #reviewStatusContainer{
        width: 330px;
        margin: auto;
        text-align: left;
        .review-title
        {
           position:relative;
            display: inline-block;
            font-size: 30px;
            font-weight: bold;
            font-family: calibri;
            text-align: left;
            
            padding-top:100px;

            .mega-title
            {
                font-size: 68px;
                color:#22B473;
            }

            #review-title-img
            {

                position: absolute;
                top: 108px;
                left: -130px;
            }

        }   

        #reviewers{
            padding: 0;
            li{
                display:inline-block;
                height:48px;
                width:48px;
                margin: 1px;
                img{
                    height:100%;
                    width:100%;
                }   
            }
        }
        
        #timerContainer{
            position:relative;
            font-size: 30px;
font-weight: bold;
            img{
                position:absolute;
                top:0;
                left:-91px;
            }
        }
    }
    
    #btnRequestReview{
        margin-top:100px;
    }
    
    #form{        
        margin: 100px auto;
        width: 389px;
        
         #submitRequest{
            width:180px;
            border-radius:30px;
        }
        #header{
            font-size: 40px;
            font-weight: bold;
            width: 389px;
            text-align: left;
            margin: auto;
            position:relative;
            img{
                position: absolute;
left: -80px;
top: 0;
            }
            
        }
        #groups{
            margin-top: 20px;
            display: flex;
            flex-direction: row;            
           
            .radio-group{
                margin-right: 10px;
                display: inline-block;
                
               
                label {
                    text-align: left;
                    color:white;
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    padding: 10px;
                    padding-left: 45px;
                    width:70px;                
                    
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        border-radius: 13px;                        
                        position: absolute;
                        left: 10px;
                        bottom: 11px;
                        background-color: white;                
                    }
                    
                  
                }
            
                 input[type=radio]:checked + label:before {                           
                     border-color:white;
                     border-style: solid;                     
                     width: 20px;
                     height: 20px;
                     background-color: #212121;                                                
                     
                }
                 
                
                input[type=radio]{
                    display: none;
                }
            }
            
        }
        #descriptionContainer{
            position:relative;
            margin-top: 20px;
            img{
            
                position: absolute;
                top: 0;
                left: -58px;
            }
             textarea{
                background: center center no-repeat; /* This ruins default border */
                margin-top:30px;
                font-family: calibri;
                width: 100%;
                max-width: 450px;
                border-width: 0px;
                margin-top:20px;
                font-size: 20px;
                color: white;
                padding: 10px;            
                display: block;
                margin: auto;
                margin-bottom: 20px;
                resize: none;
                &:focus{
                   border-width:0;               
               }
                position:relative;

            }
        
        
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
            font-style: italic;
            color:white;
            opacity: 0.7;
        }  
        
       
    }
    
     
}